@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
  border-color: #d1d5dba0;
  margin: 0;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

p {
  color: #737373;
}

.swal2-title {
  color: #253d4e !important;
  font-weight: 400 !important;
}

.swal2-popup {
  border-radius: 20px !important;
  border: 1px solid #3bb77e47 !important;
  padding: 20px !important;
  padding-bottom: 30px !important;
}
.swal2-styled {
  border-radius: 10px !important;
  font-weight: 400 !important;
}
.swal2-confirm {
  background: #3bb77e !important;
}

div#swal2-html-container {
  color: #253d4ea1 !important;
  font-weight: 300 !important;
}

.swal2-cancel {
  background-color: #253d4e !important;
}

.swal2-container {
  z-index: 999999999999999 !important;
}
div[data-name="nextstep-card"] {
  h2 {
    font-weight: 500 !important;
  }
}
div[data-name="nextstep-pointer"] {
  border-radius: 12px !important;
  display: flex !important;
  justify-content: center !important;
}

div[data-name="nextstep-overlay"] {
  z-index: 99999999999999999999 !important;
}
